<html lang="es">
  <body>
    <main class="container">
      <div class="row ">
        <div class="col-md-12 text-center">
          <img class="logo" src="https://avatars.githubusercontent.com/u/93068957?s=200&v=4">
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h1 class="display-4 pb-5">Obten informacion precisa acerca de los ultimos reportes de vacunados</h1>

          <button type="button" class="btn btn-primary btn-lg">
            <h2>Empezar</h2>
          </button>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-12">          <h1 class="">Quienes somos</h1>
        </div>
        <div class="col-sm-12 col-md-6">
          <h5 class="pt-2 text-black-50">C19 Helper es una aplicacion concurrente y distribuida que utiliza el DataSet de la
            <a href="https://www.datosabiertos.gob.pe/dataset/vacunacion">Plataforma Nacional de Datos Abiertos </a>
            con el proposito de:
          </h5>
          <li class="px-4 mb-3 h5 text-black-50">
            Optimización de consulta de personas vacunadas mediante filtros, ya sea por fecha de vacunación, centro de vacunación, tipo de vacuna, dosis o edad.
          </li >

          <li class="px-4 mb-3 h5 text-black-50">
            Identificar la información relevante del conjunto de datos utilizados, evaluarla y tratarla con enfoques éticos que cumplan con la finalidad de resolver el problema planteado.          </li >

          <li class="px-4 mb-3 h5 text-black-50">
            Actualización eficaz de los datos debido a que el acceso a la información más reciente se refleja luego de varios días transcurridos.
          </li >
        </div>
        <div  class=" col-sm-12  col-md-6 ">
          <img class="img-fluid" src="https://cdn.www.gob.pe/uploads/document/file/1693356/standard_GOBIERNO%20DIGITAL.jpeg.jpeg">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-12"> <h1 class="">Red Neuronal</h1>
        </div>
        <div  class=" col-sm-12  col-md-6">
          <img class="img-fluid" src="https://www.jeremyjordan.me/content/images/2017/07/Screen-Shot-2017-07-26-at-1.44.58-PM.png">
        </div>
        <div class="col-sm-12 col-md-6">
          <h5 class="pt-2 text-black-50">
            Este algoritmo puede clasificar los datos obtenidos del DataSet utilizando el paradigma de concurrencia.
            Ademas, presenta los mejores resultados tanto en tiempo de entrenamiento como
            en eficacia de prediccion.
          </h5>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-sm-12 text-center mb-4"> <h1 class="">Como la entrenamos</h1>
        </div>
        <div class="col-sm-6 col-md-6 col col-lg-4">
          <h5 class="pt-2 text-black-50">
            En el desarrollo de C19 – HELPER se han necesitado datos sobre pacientes vacunados
            para poder crear un motor de inteligencia artificial que pueda utilizarse para retribuir información detallada sobre un conjunto de parámetros establecidos.
          </h5>
        </div>
        <div  class=" col-sm-6  col-md-6 col-lg-4">
          <h5 class="pt-2 text-black-50">
            Para ello, se utilizó el conjunto de datos llamado “TB_VACUNACIÓN_COVID19”,
            el cual se obtuvo de la Plataforma Nacional de Datos Abiertos. Dicha plataforma permite encontrar y utilizar datos gubernamentales de una manera segura y confiable para el desarrollo de aplicaciones.
          </h5>
        </div>
        <div  class=" col-sm-12  col-md-12 col-lg-4">
          <h5 class=" pt-2 text-black-50 ">
            Dado que el trabajo sigue los lineamientos de la metodología ágil, el conjunto
            de datos elegido se encuentra desplegado en el repositorio del proyecto, el cual podrá ser consumido directamente por la aplicación utilizando el enlace (en versión “raw”) que provee la plataforma de desarrollo colaborativo GitHub.
          </h5>
        </div>
      </div>
      <div class="row">
        <h4><a href="https://github.com/UPC-Concurrente-SW72-2021-2/Dataset/blob/main/TB_VACUNACION_COVID19.csv">Enlace del DataSet en Github</a></h4>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#Id</th>
            <th scope="col">Fecha_Vacunacion</th>
            <th scope="col">Centro_Vacunacion</th>
            <th scope="col">Vacuna</th>
            <th scope="col">Riesgo</th>
            <th scope="col">Dosis</th>
            <th scope="col">Edad</th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>20/Nov/2021</td>
            <td>Lima Sur</td>
            <td>Pfizer</td>
            <td>Alto</td>
            <td>2da</td>
            <td>56</td>

          </tr>
          <tr>
            <th scope="row">...</th>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>

          </tr>
          </tbody>
        </table>
      </div>



    </main>
  </body>
</html>

