<br/>
<h2>Listado de Paisens</h2>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchPasienByEdad()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="edad">Edad :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="edad" 
            name="edad" required [(ngModel)]="edad" placeholder="Search Pasien" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<table class="table table-striped">
    <thead class="thead_dark">
        <tr>
            <th scope="col">Id_Persona</th>
            <th scope="col">Id_Vacunados_Covid19</th>
            <th scope="col">Id_EESS</th>
            <th scope="col">Id_Centro_Vacunacion</th>
            <th scope="col">Id_Grupo_Riesgo</th>
            <th scope="col">Dosis</th>
            <th scope="col">Edad</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let pasien of pasiens">
            <tr>
                <th scope="row">{{ pasien.id_persona }}</th>
                <td>{{pasien.id_vacunados_covid19}}</td>
                <td>{{pasien.id_eess}}</td>
                <td>{{pasien.id_centro_vacunacion}}</td>
                <td>{{pasien.id_grupo_riesgo}}</td>
                <td>{{pasien.dosis}}</td>
                <td>{{pasien.edad}}</td>                
            </tr>
        </ng-container>
    </tbody>
</table>