<br/>
<h2>Prediction</h2>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchPasienByEdad()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="edad">EDAD :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="edad" 
            name="edad" required [(ngModel)]="edad" placeholder="Search Pasien by edad" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchPasienById()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="id_persona">ID :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="id_persona" 
            name="id_persona" required [(ngModel)]="id_persona" placeholder="Search Pasien by id_persona" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchPasienByDosis()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="dosis">DOSIS :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="dosis" 
            name="dosis" required [(ngModel)]="dosis" placeholder="Search Pasien by dosis" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<ul>
    <li *ngIf="pasien">
        <h4>{{ pasien.id_persona }} - {{ pasien.id_vacunados_covid19}} - {{ pasien.id_eess }} - {{pasien.id_centro_vacunacion}}- {{pasien.id_vacuna}} - {{pasien.id_grupo_riesgo}} - {{pasien.dosis}} - {{pasien.edad}}</h4>
    </li>
</ul>
<ul>
    <li *ngFor="let pasien of pasiens">
        <h4>{{ pasien.id_persona }} - {{ pasien.id_vacunados_covid19}} - {{ pasien.id_eess }} - {{pasien.id_centro_vacunacion}}- {{pasien.id_vacuna}} - {{pasien.id_grupo_riesgo}} - {{pasien.dosis}} - {{pasien.edad}}</h4>
    </li>
</ul>